#bargraph-div {
  width: 100%;
}

// * Vertical Y axis slider height
.row.y-slider-wrapper {
  height: calc(100% - 144px);
}

.v-input.y-slider {
  height: 100%;
}

.row.y-slider-wrapper ::v-deep {
  .v-input__slot {
    height: 100%;
  }
  .v-input__control {
    height: 100%;
  }

  .v-slider.v-slider--vertical {
    height: 100%;
  }
}

.y-left-slider {
  visibility: visible;
  /* mobile */
  @media only screen and (max-width: 600px) {
    visibility: hidden;
    display: none;
  }
}

.y-left-slider-barchart {
  visibility: visible;
  /* mobile */
  @media only screen and (max-width: 600px) {
    visibility: hidden;
    display: none;
  }
}

/*----- X-Axis------*/

#x-slider-head-row-barchart {
  justify-content: flex-end;
  margin-top: -1.5rem;
  @media only screen and (max-width: 600px) {
    margin-top: 0.5rem;
  }
}

#x-slider-row-barchart {
  @media only screen and (max-width: 600px) {
    display: flex;
    margin-top: -3rem;
  }
}
#x-header-label-col-barchart {
  visibility: hidden;
  display: none;
  /* mobile */
  @media only screen and (max-width: 600px) {
    visibility: visible;
    display: flex;
  }
}
#x-label-row-barchart {
  margin-top: -3rem;
  @media only screen and (max-width: 600px) {
    margin-top: -5rem;
  }
}
#x-label-right-barchart {
  display: flex;
  justify-content: flex-start;
  font-size: 12.8px;
}
#x-label-left-barchart {
  display: flex;
  justify-content: flex-end;
  font-size: 12.8px;
}

/*---- Y-axis Mobile alignment-----*/
#y-slider-head-row-barchart {
  visibility: hidden;
  display: none;
  /* mobile */
  @media only screen and (max-width: 600px) {
    visibility: visible;
    display: flex;
  }
}
#y-slider-row-barchart {
  @media only screen and (max-width: 600px) {
    visibility: visible;
    display: flex;
    margin-top: -1rem;
  }
}
#y-label-row-barchart {
  visibility: hidden;
  display: none;
  @media only screen and (max-width: 600px) {
    visibility: visible;
    position: relative;
    z-index: 100;
    display: flex;
    margin-top: -2.5rem;
  }
}
#y-label-right-barchart {
  @media only screen and (max-width: 600px) {
    display: flex;
    justify-content: flex-start;
  }
}
#y-input-right-barchart {
  @media only screen and (max-width: 600px) {
    display: flex;
    justify-content: flex-end;
  }
}
#y-label-left-barchart {
  @media only screen and (max-width: 600px) {
    display: flex;
    justify-content: flex-end;
    width: 60px;
  }
}
