.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  color: black;
  font-weight: bolder;
  font-size: 1rem;
}

.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr:last-child
  > th {
  border-bottom: 0.2rem solid #a5bcd3;
}
#datatable-div {
  height: 672px;
  overflow: auto;
}

.v-data-table ::v-deep .v-data-table__wrapper {
  overflow: unset;
}

table thead tr th {
  background: white;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0;
}

table,
th,
td {
  border: thin solid rgba(0, 0, 0, 0.12);
}

table thead tr:last-child th:nth-child(2) {
  border-right: 0.2rem solid #a5bcd3;
}
table tbody tr td:nth-child(2) {
  border-right: 0.2rem solid #a5bcd3;
}

table tbody tr td:nth-child(1),
table thead tr th:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 198;
  background: white;
  left: 0px;
}
table thead tr th:nth-child(1) {
  z-index: 199;
}

table tbody tr td:nth-child(2),
table thead tr th:nth-child(2) {
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 198;
  background: white;
  padding: 0;
  left: 79px;
  left: 59px;
}
table thead tr th:nth-child(2) {
  z-index: 199;
}

table thead tr th:nth-child(2) {
  .checkbox-span-col {
    margin-right: 2rem;
  }
}

.rowHeadings-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-height: -webkit-fill-available;
}

.checkbox-span-col {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9px;
}

.menu-list {
  text-align: left;
}
#menu-card {
  height: "20px";
  width: "20px";
}

#menu-button {
  background-color: transparent !important;
  margin-top: -8px;
  text-transform: none !important;
}
