.checkbox-container {
  display: flex;
  justify-content: center;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  color: black;
  font-weight: bolder;
  font-size: 1rem;
}

.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr:last-child
  > th {
  border-bottom: 0.2rem solid #a5bcd3;
}
#datatable_div {
  height: 672px;
  overflow: auto;
}

.v-data-table ::v-deep .v-data-table__wrapper {
  overflow: unset;
}

table thead tr th {
  background: white;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0;
}

table,
th,
td {
  border: thin solid rgba(0, 0, 0, 0.12);
}

table tbody tr td:nth-child(1),
table thead tr th:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  z-index: 9998;
  background: white;
}
table thead tr th:nth-child(1) {
  z-index: 9999;
}

table tbody tr td:last-child,
table thead tr th:last-child {
  position: sticky !important;
  position: -webkit-sticky !important;
  right: 0;
  z-index: 9998;
  background: white;
}
table thead tr th:last-child {
  z-index: 9999;
}
