#app {
  font-family: sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-top: 60px;
}
.table {
  margin: 10px;
}
button {
  margin: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
#btn {
  text-transform: none !important;
  font-size: 0.8rem;
}
#heading_row {
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    margin-top: -2rem;
  }
}
#filter_col {
  align-items: center;
  justify-content: center;
}
#filter_row {
  align-items: center;
  font-size: 0.8rem;
  @media only screen and (max-width: 600px) {
    margin-top: -1rem;
  }
}
#dataset_lbl {
  display: flex;
  font-size: 0.8rem;
}
#diagramtype_col {
  /* mobiles */
  @media only screen and (max-width: 600px) {
    margin-top: -2rem;
    display: flex;
    justify-content: center;
  }

  /* iPads */
  @media only screen and (max-device-width: 1024px) {
    margin-left: -3rem;
  }
}
#diagram-toolbar {
  margin-left: 7rem;

  /* mobiles */
  @media only screen and (max-width: 600px) {
    margin-right: -5rem;
  }

  /* iPads */
  @media only screen and (max-device-width: 1024px) {
    margin-left: 3rem;
  }
}
#resetchart_col {
  flex-shrink: 1;
  display: flex;
  justify-content: flex-end;

  /* mobiles */
  @media only screen and (max-width: 600px) {
    margin-top: -1rem;
    display: flex;
    justify-content: flex-start;
  }
  /* iPads */
  @media only screen and (max-device-width: 1024px) {
    margin-left: 2rem;
  }
}

#download_btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: -1rem;

  /* mobiles */
  @media only screen and (max-width: 600px) {
    margin-top: -4rem;
  }
}
#import_btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;

  /* mobiles */
  @media only screen and (max-width: 600px) {
    margin-top: -3rem;
    justify-content: center;
  }
}
#datatable_row {
  margin-top: 2rem;
  @media only screen and (max-width: 600px) {
    margin-top: -2rem;
  }
}
